.ReactModal__Overlay--after-open:focus {
    outline: -webkit-focus-ring-color auto 0 !important;
}

:focus {
    outline: -webkit-focus-ring-color auto 0 !important;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.closeButton path {
    fill: #eee;
}

.closeButton:hover path {
    fill: #888;
}

.closeButton svg {
    width: 12px;
    height: 12px;
    margin-top: 6px;
    margin-right: -12px;
}

.homepage  {
    @media #{$md} {
        &.ReactModal__Overlay {
            position: absolute !important;
            background-color: red;
            opacity: 1;
            cursor: move;
            right: auto;
            bottom: auto;
            z-index: 99 !important;
            top: 220px !important;
            left: 484px !important;
            width: 400px;
            max-height: 500px;
        }

        &.ReactModalPortal:nth-of-type(2) .ReactModal__Overlay {
            z-index: 110 !important;
            top: 120px !important;
            left: 60px !important;
            width: 400px;
            max-height: 500px;
            padding: 0 !important;
        }
    }
}

.inner {
    padding: 10px 8px;
}

.inner p {
    font-size: .8em;
}

.title,
.title2,
.title3 {
    border-radius: 4px 4px 0 0;
    padding: 15px 20px;
    background: $purple;
    color: #fff;
    letter-spacing: .2em;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}

.title2 {
    background: #c3c3c3;
}

.title3 {
    background: #f13ab8;
}

.Marquee {
    margin-top: 1em;
    padding: 1em;
    background-color: #fbfbfb;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

h1.index {
    text-align: center;
}
