.pinterestImageWrapper {
    position: relative;

    &.imageWrapper {
        > a {
            position: absolute;
            top: .2em;
            left: .2em;
            z-index: 2;
            opacity: .06;

            &:hover {
                opacity: .8;
            }
        }
    }

    > a {
        position: absolute;
        top: .4em;
        left: .4em;
        z-index: 2;
        opacity: .8;

        &:hover {
            opacity: 1;
        }
    }
}
